@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Bowler

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.BowlerFirstName @Model.BowlerLastName</h3>
<br />

<form method="post" asp-controller="Home" asp-action="DeleteBowler">
    <button class="btn btn-danger"type="submit">Delete</button><br /><br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="BowlerID" />
</form>